<section class="group sidebar right">


  <h4 class="sidebar-section-header" id="top-of-sidebar"><%= @space.title %></h4>
  <div class="sidebar-section group">
    <div class="price-wrapper">
      <div class="price-data dark-gray right">
        <sup class="left">$</sup>
        <%= @space.booking_rate_daily %>
      </div>
      <div class="light-gray">per hour</div>
    </div>
  </div>

  <form action="<%= bookings_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <p id="datepairExample">

      <h4 class="sidebar-section-header">Start</h4>
      <div class="sidebar-section group">
          <input type="text" name="booking[start_date]" class="date start" placeholder="Date">

          <input type="text" class="time start" placeholder="Time" />

      </div>

      <h4 class="sidebar-section-header">End</h4>
      <div class="sidebar-section group">
          <input type="text" name="booking[end_date]" class="date end" placeholder="Date">
          <input type="text" class="time end" placeholder="Time" />
      </div>

    </p>

     <link rel="stylesheet" type="text/css" href="/js/jquery.timepicker.css" />
      <link rel="stylesheet" type="text/css" href="/js/bootstrap-datepicker.css" />


    <script type="text/javascript" src="/js/jquery.timepicker.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/js/datepair.js"></script>
    <script type="text/javascript" src="/js/jquery.datepair.js"></script>
    <script>
        // initialize input widgets first
        $('.time').timepicker({
            'showDuration': true,
            'timeFormat': 'g:ia'
        });

        $('.date').datepicker({
            'format': 'yyyy-m-d',
            'autoclose': true
        });

        // initialize datepair
        $('#datepairExample').datepair();
    </script>

    <h4 class="sidebar-section-header">Guest count</h4>
    <div class="sidebar-section group">
      <!--<%= select_numerical_given_options(html_name: "booking[guest_count]",
                                            limits: [1, @space.accommodates],
                                       plural_noun: "guests") %>-->
               

  
    <select type="text" name="space[accommodates]" id="space-accomodates">
    

      <% Space.numerical_options.each_with_index  do |accomodates, index|  %>
        <% if Integer(accomodates) <= Integer(@space.accommodates) %>
        <option value="<%= accomodates %>"><%= accomodates %></option>
        <% end %>
      <% end %>



    </select>
    </div>

    <input type="hidden" name="booking[space_id]" value="<%= @space.id %>">

    <button type="submit" class="blue button" id="space-show-sidebar-book-button">Book it</button>

  </form>

  <nav class="sidebar group">

    <h4 class="sidebar-section-header" id="top-of-booking-sidebar">The Host</h4>
    <div class="sidebar-section group">
      <div id="owner-img"><%= link_to image_tag(@space.owner.photo_medium, class: "user-image-medium"), @space.owner, method: :get %></div>

      <h3 id="space-show-owner-name"><%= "#{@space.owner.first_name}" %></h3>
    </div>

    <h4 class="sidebar-section-header sidebar-bottom"><h4>

  </nav>
</section>