<div class="group" id="root-page-search-bar-container">
    <h1>Find a venue</h1>
    <h3>Rent from over thousands<br> of users worldwide</h3>
  <form action="<%= spaces_url %>" class="group" id="root-page-search-bar">
<form action="#" class="group" id="root-page-search-bar">
  <div class="input-wrapper">
      <%= tag "input", type: "text",
                placeholder: "What city are you booking in?",
                       name: "space_filters[city]",
                      class: "text-input input-large",
                         id: "root-input-city-name" %>
  </div>


 <select type="text" name="space_filters[guest_count]" id="space-accomodates2">
      <% Space.numerical_options.each_with_index do |accomodates, index| %>
        <option value="<%= accomodates%>"><%= accomodates %> guests</option>
      <% end %>
    </select>
    <!--
      <%= select_numerical_given_options(html_name: "space_filters[guest_count]",
                                       plural_noun: "guests") %>
-->
      <input type="submit" value="Search" class="button blue input-large" id="search-button">

    </form>
  </div>

<div id="splash-container">
  <img src="/sliderbg-2.jpg" id="splash">
</div>